body {
    background-color: lightgray;
    font-size: 120%;
}
header li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    background-color:beige;
    border: 1px solid grey;
    color: rgb(128, 100, 230);
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}

a:hover, a:active {
    background-color: azure;
    color: black;
}
p.big {
    font-size: 18px;
}

article>p {
    color: darkgreen;
}